---
import { getPurchases, getPurchasesAndUsers, getUsers } from "../api/store.api";
import PurchasesPage from "../components/PurchasesPage";

const allData = await getPurchasesAndUsers({ quantity: 10 })
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Store - Purchases</title>
  </head>
  <body>
    {allData.success ? <PurchasesPage {...allData.data} /> : null}
  </body>
</html>
